<% if params[:category] === "financial" %>
    <section class="notice">
        <p>If your income has stopped or dropped as a result of coronavirus, you might be able to get financial support.</p>
        <a class="notice__link" href="https://www.camden.gov.uk/what-financial-support-is-available-for-me">Details and how to apply</a>
    </section>
<% end %>