<%= link_to root_path, class: "go-back" do %>
    <%= image_tag "back.svg", alt: "" %> <span>Go back</span>
<% end %>

<div class="two-thirds">
    <h1 class="page-title">These groups and services may be able to help</h1>
</div>

<% if (params[:categories] && params[:categories].include?("financial")) %>
    <section class="important">
        <p>If your income has stopped or dropped as a result of coronavirus, you might be able to get financial support.</p>
        <a class="important__link" href="https://www.camden.gov.uk/COVID-19">Details and how to apply</a>
    </section>
<% end %>

<ol class="service-results">
    <% @top_result.each do |s| %>
        <%= render partial: "shared/service_card", locals: {s: s, recommended: true} %>
    <% end %>

    <% @services.each do |s| %>
        <%= render partial: "shared/service_card", locals: {s: s, recommended: false} %>
    <% end %>
</ol>

<section class="safeguarding">
    <h2>Can't find what you need?</h2>
    <p>If you’re worried about yourself or someone you care about, <a href="https://www.camden.gov.uk/COVID-19">see our other coronavirus resources</a>.</p>
</section>
