<%= link_to "Go back", root_path %>

<h1>These groups and services may be able to help</h1>

<p>Showing results near <strong><%= params[:postcode] %></strong></p>

<ol>
    <% @services.each do |s| %>
        <li>
            <h2><%= s.name %></h2>
            <p><%= s.description %></p>
        </li>
    <% end %>
<ol>