$text: #2A2828;
$grey: #54585A;
$pale: #f6f6f6;
$white: #ffffff;

$link: #3A6CB5;
$focus: #F7C745;
$error: #d51010;

$max-width: 1100px;
$breakpoint: 750px;


// camden-specific style overrides
$pale: #ecece7;
$link: #42807b;
$focus: #ead95b;