$text: #2A2828;
$grey: #54585A;
$pale: #f6f6f6;
$white: #ffffff;

$link: #3A6CB5;
$focus: #F7C745;
$error: #d51010;

$max-width: 1100px;
$breakpoint: 750px;


// BUCKINGHAMSHIRE OVERRIDES
$text: #212121;
$grey: #31312D;
$pale: #F7F6F2;

$link: #2C2D84;
$focus: #FFB81C;