.results-map-section_map {
  height:400px;
  margin-bottom: 32px;
}

.results-map-section_slider-bar {
  height: 40px;
  margin-top: -32px;
  margin-bottom: 18px;

  & .switch {
    float: right;
  }
}