$white: #FFFFFF;
$grey1: #2A2828;
$grey2: #54585A;
$pale: #ECECE7;
$blue1: #42807B;
$blue2: #A0CAC9;
$yellow: #EAD95B;
$max-width: 1000px;
$breakpoint: 750px;

*{
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background: $grey1;
}

h1, h2, h3, h4, h5, p{
  color: $grey1;
}

p{
  line-height: 1.5;
}

a{
  color: $blue1;
  &:hover{
    text-decoration: none;
  }
  &:focus{
    background: $yellow;
    outline: 3px solid $yellow;
  }
}


.container{
  max-width: $max-width;
  margin: 0 auto;
}

.site-header{
  background: $white;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
  position: relative;
  z-index: 2;
  .site-header__masthead{
    display: inline-block;
  }
}

.main-content-area{
  padding: 40px 15px;
  background: $pale;
  @media screen and (min-width: $breakpoint){
    padding: 60px 15px 80px 15px;
  }
}

.two-thirds{
  @media screen and (min-width: $breakpoint){
    max-width: 66.67%;
  }
}

.site-footer{
  background: $grey1;
  padding: 50px 15px;

  .site-footer__notice{
    color: $white;
    margin-bottom: 20px;
  }

  .site-footer__link{
    color: $white;
    display: inline-block;
    margin-right: 15px;
    &:focus{
      color: $grey1;
    }
  }
}

.button{
  background: $yellow;
  display: block;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  color: $grey1;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 0px darken($yellow, 20);
  &:hover{
    background: darken($yellow, 10);
  }
  &:active{
    transform: translateY(4px);
    background: darken($yellow, 20);
    box-shadow: none;
  }
  @media screen and (min-width: $breakpoint){
    max-width: 250px;
    font-size: 1.2rem
  }
}

.important{
  padding: 25px;
  background: transparentize($blue2, 0.5);
  border-left: 4px solid $blue1;
  margin-bottom: 40px;
}

.breadcrumbs{
  list-style: none;
  margin-bottom: 15px;
  .breadcrumbs__crumb{
    display: inline-block;
    color: $grey1;
    &:after{
      display: inline-block;
      content: "/";
      margin-left: 7px;
      margin-right: 7px;
    }
    &:last-of-type:after{
      content: none;
    }
  }
}

.page-title{
  font-size: 2.5rem;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint){
    font-size: 3rem;
    margin-bottom: 50px;
  }
}

.lede{
  margin-top: -15px;
  margin-bottom: 50px;
  font-size: 1.2rem;
  color: $grey2;
  @media screen and (min-width: $breakpoint){
    margin-top: -35px;
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
}

.field{
  margin-bottom: 40px;
  border: none;
  @media screen and (min-width: $breakpoint){
    margin-bottom: 50px;
  }
  .field__label{
    margin-bottom: 5px;
    display: block;
    @media screen and (min-width: $breakpoint){
      font-size: 1.2rem;
      margin-bottom: 7px;
    }
  }
  .field__hint{
    color: $grey2;
    margin-bottom: 15px;
    @media screen and (min-width: $breakpoint){
      font-size: 1.1rem;
      margin-bottom: 20px;
    }
  }
  .field__text-input{
    font-size: 1.2rem;
    padding: 10px;
    border: 2px solid $grey1;
    background: $white;
    width: 100%;
    &:focus{
      outline: 3px solid $yellow;
    }
    &::placeholder{
      color: transparentize($grey2, 0.25)
    }
  }
}

.checkboxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-bottom: -20px;
}

.checkbox{
  margin-bottom: 20px;
  position: relative;
  padding-left: 50px;
  padding-top: 10px;
  &:focus-within label:before{
    outline: 3px solid $yellow;
  }
  .checkbox__input{
    font-size: 2rem;
    -webkit-appearance:none;
    width:35px;
    height:35px;
    position: absolute;
    left: 0px;
    top: 0px;
    &:checked + label:after{
      position: absolute;
      content: "";
      display: block;
      height: 28px;
      width: 28px;
      left: 5px;
      top: 5px;
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.1608 5.08025L9.59935 23.3259L0.837891 14.2231L5.16081 10.0623L9.59935 14.6738L22.8379 0.919434L27.1608 5.08025Z' fill='%232A2828'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .checkbox__label{
    cursor: pointer;
    color: $grey1;
    &:before{
      content: "";
      display: inline-block;
      background: $white;
      border: 2px solid $grey1;
      width: 35px;
      height: 35px;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }
}

