@import "_variables.scss";

@font-face {
  font-family: "museo";
  src: url("/assets/museo500-regular.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "museo";
  src: url("/assets/museo300-regular.ttf");
  font-weight: normal;
}

*{
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background: $grey1;
}

h1, h2, h3, h4, h5{
  font-family: "museo", Helvetica Neue, Arial, Helvetica, sans-serif;
  color: $grey1;
}

p{
  line-height: 1.5;
  color: $grey1;
}

a{
  color: $blue1;
  &:hover{
    text-decoration: none;
  }
  &:focus{
    background: $yellow;
    outline: 3px solid $yellow;
  }
}


.container{
  max-width: $max-width;
  margin: 0 auto;
}

.site-header{
  background: $white;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.05);
  position: relative;
  z-index: 2;
  .site-header__masthead{
    display: inline-block;
  }
}

.main-content-area{
  padding: 40px 15px;
  background: $pale;
  @media screen and (min-width: $breakpoint){
    padding: 60px 15px 80px 15px;
  }
}

.two-thirds{
  @media screen and (min-width: $breakpoint){
    max-width: 66.67%;
  }
}

.site-footer{
  background: $grey1;
  padding: 50px 15px;

  .site-footer__notice{
    color: $white;
    margin-bottom: 20px;
  }

  .site-footer__link{
    color: $white;
    display: inline-block;
    margin-right: 15px;
    &:focus{
      color: $grey1;
    }
  }
}

.button{
  background: $yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  color: $grey1;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 0px darken($yellow, 20);
  &:hover{
    background: darken($yellow, 10);
  }
  &:active{
    transform: translateY(4px);
    background: darken($yellow, 20);
    box-shadow: none;
  }
  &:focus{
    outline: none;
  }
  @media screen and (min-width: $breakpoint){
    max-width: 250px;
    font-size: 1.2rem
  }
  .button__icon{
    margin-left: 10px;
    height: 15px;
  }
}

.important{
  padding: 25px;
  background: transparentize($blue2, 0.5);
  border-left: 4px solid $blue1;
  margin-bottom: 45px;
}

.breadcrumbs{
  list-style: none;
  margin-bottom: 15px;
  .breadcrumbs__crumb{
    display: inline-block;
    color: $grey1;
    &:after{
      display: inline-block;
      content: "/";
      margin-left: 7px;
      margin-right: 7px;
    }
    &:last-of-type:after{
      content: none;
    }
  }
}

.page-title{
  font-size: 2.5rem;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint){
    font-size: 3rem;
    margin-bottom: 50px;
  }
}

.lede{
  margin-top: -15px;
  margin-bottom: 50px;
  font-size: 1.2rem;
  color: $grey2;
  @media screen and (min-width: $breakpoint){
    margin-top: -35px;
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
  strong{
    text-transform: uppercase;
  }
}

.go-back{
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 15px;
  img{
    height: 15px;
    margin-right: 0px;
  }
  &:hover span{
    text-decoration: underline;
  }
}

.beta-banner{
  background: $pale;
  padding: 10px 15px 0px 15px;
  font-size: 0.9rem;
  .beta-banner__inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .beta-banner__tag{
    background: $yellow;
    text-transform: uppercase;
    padding: 3px 7px;
    margin-right: 10px;
    color: $grey1;
  }
  .beta-banner__message{
    padding-top: 1px;
  }
}


@import 'search.scss';
@import 'results.scss';