@import "_variables.scss";

.service-results{
    list-style: none;
}

.service-card{
    display: block;
    margin-bottom: 25px;
    background: $white;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    color: $grey1;
    position: relative;
    @media screen and (min-width: $breakpoint){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &.service-card--recommended{
        border: 4px solid $blue1;
        border-left: 40px solid $blue1;
        &:before{
            position: absolute;
            content: "Top result";
            color: $white;
            font-weight: bold;
            bottom: 0px;
            left: -30px;
            text-align: center;
            writing-mode: sideways-lr;
            height: 100%;
            text-align: center;
            top: 0;
        }
    }
    .service-card__header{
        @media screen and (min-width: $breakpoint){
            min-width: 35%;
            width: 35%;
            max-width: 35%;
            margin-right: 40px;
        }
    }
    .service-card__name{
        margin-bottom: 10px;
        @media screen and (min-width: $breakpoint){
            font-size: 1.7rem;
        }
    }
    .service-card__description{
        margin-bottom: 10px;
        font-size: 0.9rem;
    }
    .service-card__distance{
        display: inline-block;
        color: $grey2;
        font-style: italic;
        font-size: 0.9rem;
        margin-bottom: 30px;
        @media screen and (min-width: $breakpoint){
            margin-bottom: 0px;
            margin-top: 15px;
        }
    }
    .service-card__key-points{
        list-style: none;
        margin-bottom: 30px;
        @media screen and (min-width: $breakpoint){
            margin-bottom: 0px;
            margin-right: 30px;
            min-width: 25%;
            width: 25%;
            max-width: 25%;
        }
    }
    .service-card__key-point{
        padding: 0px 0px 0px 35px;
        position: relative;
        margin-bottom: 15px;
        &:last-of-type{
            margin-bottom: 0px;
        }
        &:before{
            position: absolute;
            top: 0px;
            left: 0px;
            content: "";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='20' viewBox='0 0 26 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.268 3.76777L9.50019 19.5355L0.232422 10.2678L3.76796 6.73224L9.50019 12.4645L21.7324 0.232239L25.268 3.76777Z' fill='%2342807B'/%3E%3C/svg%3E%0A");
            width: 26px;
            height: 20px;
            background-repeat: no-repeat;
        }
    }
    .service-card__footer{
        @media screen and (min-width: $breakpoint){
            min-width: 30%;
            width: 30%;
            max-width: 30%;
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
        }
    }
    .service-card__contact-prompt{
        text-align: center;
        display: block;
        margin-top: 15px;
    }
    .service-card__phone{
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
    }
}


.safeguarding{
    padding: 35px 0px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    h2{
        color: $blue1;
        margin-bottom: 10px;
    }
}