@import "_variables.scss";

.field{
    margin-bottom: 45px;
    border: none;
    @media screen and (min-width: $breakpoint){
      margin-bottom: 50px;
    }
    .field__label h2{
      margin-bottom: 5px;
      display: block;
      @media screen and (min-width: $breakpoint){
        font-size: 1.7rem;
        margin-bottom: 7px;
      }
    }
    .field__hint{
      color: $grey2;
      margin-bottom: 15px;
      @media screen and (min-width: $breakpoint){
        font-size: 1.1rem;
        margin-bottom: 20px;
      }
    }
    .field__text-input{
      font-size: 1.2rem;
      padding: 10px;
      border: 2px solid $grey1;
      background: $white;
      width: 100%;
      &:focus{
        outline: 3px solid $yellow;
      }
      &::placeholder{
        color: transparentize($grey2, 0.25)
      }
    }
  }
  
  .checkboxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: -20px;
  }
  
  .checkbox{
    margin-bottom: 20px;
    position: relative;
    padding-left: 50px;
    padding-top: 10px;
    &:focus-within label:before{
      outline: 3px solid $yellow;
    }
    .checkbox__input{
      font-size: 2rem;
      -webkit-appearance:none;
      width:35px;
      height:35px;
      position: absolute;
      left: 0px;
      top: 0px;
      &:checked + label:after{
        position: absolute;
        content: "";
        display: block;
        height: 28px;
        width: 28px;
        left: 5px;
        top: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.1608 5.08025L9.59935 23.3259L0.837891 14.2231L5.16081 10.0623L9.59935 14.6738L22.8379 0.919434L27.1608 5.08025Z' fill='%232A2828'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .checkbox__label{
      cursor: pointer;
      color: $grey1;
      &:before{
        content: "";
        display: inline-block;
        background: $white;
        border: 2px solid $grey1;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
  }
  
  