@import "variables";

.search{
    margin-bottom: 55px;
    @media screen and (min-width: $breakpoint){
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .search__field{
      margin-bottom: 25px;
      @media screen and (min-width: $breakpoint){
          margin-bottom: 0px;
          margin-right: 25px;
          flex: 1;
      }
    }

    .search__label{
        display: block;
        font-size: 1rem;
        margin-bottom: 7px;
    }
    .search__input{
        font-size: 1.3rem;
        padding: 14px;
        border: 2px solid $text;
        width: 100%;
        &::placeholder{
          color: transparentize($text, 0.5);
        }
        &:focus{
          outline: 3px solid $focus;
        }
    }
    .search__select{
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        font-size: 1.3rem;
        cursor: pointer;
        padding: 13px;
        border: 2px solid $text;
        background: $white;
        border-radius: 0px;
        width: 100%;
        background-size: 35px;
        background-image: url(asset_path("select-icon.svg"));
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 50px;
        &:focus{
          outline: 3px solid $focus;
        }
    }



}