.service-card{
    background: $white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    position: relative;
    border: 1px solid transparentize($grey, 0.9);

    &.service-card--recommended{
      border: 2px solid $link;
      position: relative;
      padding-top: 55px;
      &:after{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        content: "Featured";
        border-radius: 3px 3px 0px 0px;
        background: $link;
        display: block;
        padding: 7px 25px;
        color: $white;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }

    .service-card__button{
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
      &:focus{
        outline: none;
        &:after{
          box-shadow: 0px 0px 0px 3px $focus;
        }
      }
      &:hover .service-card__name{
        text-decoration: underline;
      }
    }
  
    .service-card__name{
      font-size: 1.5rem;
      color: $link;
      margin-bottom: 10px;
    }
    .service-card__description{
      margin-bottom: 15px;
    }
  
    .service-card__categories{
      list-style: none;
      margin-bottom: 20px;

    }
    .service-card__category{
      display: inline-block;
      font-size: 0.9rem;
      border: 1px solid $text;
      padding: 3px 5px;
      border-radius: 3px;
      margin-bottom: 5px;
    }
  
    .service-card__footer{
      border-top: 1px solid transparentize($grey, 0.9);
      @media screen and (min-width: 350px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
      }
      font-size: 0.9rem;
    }
    .service-card__subsection-title{
      margin-top: 25px;
      font-size: 1rem;
      margin-bottom: 5px;
    }
    .service-card__email{
      position: relative;
      word-wrap: anywhere;
      z-index: 2;
    }

    .service-card__distance{
      font-style: italic;
      margin-bottom: 15px;
    }
  }